@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.manrope-font {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    max-width: 1400px;
}

section {
    margin-bottom: 120px;
}


/* Shared Style */
.flex {
    display: flex;
}

/* header */
header {
    margin-top: 68px;
    margin-bottom: 130px;
}

.header-container {
    justify-content: space-around;
}

.header-title {
    width: 628px;
    color: rgb(28, 28, 28);
    font-size: 5rem;
    font-weight: 800;
}

.header-description {
    width: 513px;
    padding-top: 30px;
    color: rgb(119, 119, 119);
    font-size: 1.13rem;
    font-weight: 500;

}

.header-btn {
    margin-top: 30px;
    padding: 14px 17px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(270.00deg, rgb(255, 0, 0) 0%, rgb(255, 137, 56) 100%);
}

.arrow {
    width: 15px;
}

.banner-img {
    padding-bottom: 70px;
    width: 555px;
    border: 1px dashed rgb(207, 198, 228);
}

.header-icon {
    width: 150px;
    height: 60px;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
   margin-left: 950px;
   margin-top: -100px;
}
#rating{
    font-size: 1.5rem;
    color: gold;
}
.rating-number{
    /* position: relative; */
    margin-top: -23px;
    margin-left: 40px;
    font-weight: 900;
}
/* feature  product*/
.feature-title {
    color: rgb(28, 28, 28);
    font-size: 2.8rem;
    font-weight: 800;
    text-align: center;
}

.feature-description {
    color: rgb(119, 119, 119);
    font-weight: 500;
    text-align: center;
    padding: 20px 250px;
    /* width: 901px; */
}

/* responsive device */
@media screen and (max-width:576px) {
    .header-container {
        flex-direction: column-reverse;
    }

    .header-title {
        font-size: 3rem;
        text-align: center;
    }

    .header-description {
        text-align: center;
        padding-left: 30px;
    }

    .header-btn {
        margin-left: 178px;
    }

}